.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.1em 0.1em 0.0em 0.0em;
}

.tab-pane
{
    -fx-tab-min-width:120px;
    -fx-background-color: white;
}

.tab-pane .tab
{
    -fx-background-color: #e6e6e6;
    -fx-border-radius: 10 10 0 0;
    -fx-background-radius: 10 10 0 0;
}

.tab-pane .tab:selected {
    -fx-background-color: #ee7202;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}